*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none !important;
}

:root {
  /************************* semantic colors *************************/
  /* semantic inform colors */
  --color-semantic-inform-400: hsl(215, 96%, 33%);
  --color-semantic-inform-300: hsl(215, 96%, 38%);
  --color-semantic-inform-200: hsl(215, 96%, 43%);
  --color-semantic-inform-100: hsl(215, 96%, 48%);
  /* semantic success colors */
  --color-semantic-success-400: hsl(100, 96%, 33%);
  --color-semantic-success-300: hsl(100, 96%, 38%);
  --color-semantic-success-200: hsl(100, 96%, 43%);
  --color-semantic-success-100: hsl(100, 96%, 48%);
  /* semantic warn colors */
  --color-semantic-warn-400: hsl(44.94, 96%, 50%);
  --color-semantic-warn-300: hsl(44.94, 96%, 55%);
  --color-semantic-warn-200: hsl(44.94, 96%, 60%);
  --color-semantic-warn-100: hsl(44.94, 96%, 65%);
  /* semantic extreme warn colors */
  --color-semantic-extreme-warn-400: hsl(28.47, 96%, 50%);
  --color-semantic-extreme-warn-300: hsl(28.47, 96%, 55%);
  --color-semantic-extreme-warn-200: hsl(28.47, 96%, 60%);
  --color-semantic-extreme-warn-100: hsl(28.47, 96%, 65%);
  /* semantic alert colors */
  --color-semantic-alert-400: hsl(0, 96%, 33%);
  --color-semantic-alert-300: hsl(0, 96%, 38%);
  --color-semantic-alert-200: hsl(0, 96%, 43%);
  --color-semantic-alert-100: hsl(0, 96%, 48%);
}

html {
  scroll-behavior: smooth;
  font-family: 'Mulish', sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  overflow-x: hidden;
  padding-left: .5em;
  padding-right: .5em;
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

/*===============================================================
          Typography Scale - 1.250 - Major Third
==================================================================*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  line-height: 1.3;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

h3 {
  font-size: 2.441rem;
}

h4 {
  font-size: 1.953rem;
}

h5 {
  font-size: 1.563rem;
}

h6 {
  font-size: 1.25rem;
}

p, small {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 1rem;
  margin-bottom: 1em;
}

small {
  font-size: 0.8rem;
}

input, button, select, textarea {
  font-family: 'Mulish', sans-serif;
}

.hide__show__button.btn.btn-btn {
  padding: 0 0.2em;
  font-family: 'Source Code Pro', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  border: 1px solid black;

}

.hide__show__button.btn.btn-btn:focus,
.hide__show__button.btn.btn-btn:active {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.75;
}

a:hover {
  cursor: pointer;
  opacity: 1;
}

/*===============================================================
          utility classes
==================================================================*/
.bg-semantic-a-200 {
  background-color: hsl(0, 96%, 48%);
}

.bg-semantic-a-400 {
  background-color: hsl(0, 96%, 33%);
}

.bg-semantic-i-400 {
  background-color: hsl(215, 96%, 33%);
}

.bg-semantic-s-400 {
  background-color: hsl(100, 96%, 33%);
}

.bg-semantic-w-400 {
  background-color: hsl(48, 96%, 50%);
}